In [1]:
import pandas as pd

In [2]:
neg = pd.read_csv("../../data/3-nrlmf/2-output_nrlmf/neg_inter_bindingdb.csv")
neg = neg.drop(columns=['score'])
neg['Class'] = 0
neg

      UniProt ID    Drug  Class
0         O00206  d13900      0
1         O00206  d13933      0
2         O00206  d13548      0
3         O00206  d13467      0
4         O00206  d13547      0
...          ...     ...    ...
40669     Q9Y478  d35246      0
40670     Q9Y478  d35247      0
40671     Q9Y6E0  d31118      0
40672     Q9Y6E0  d31095      0
40673     Q9Y6E0  d31096      0

[40674 rows x 3 columns]

In [3]:
pos = pd.read_csv("../../data/1-preparation/interaction/interaction_bindingdb_nodup.csv")
pos = pos.drop(columns=['SMILES', 'FASTA Sequence'])
pos['Class'] = 1
pos

      UniProt ID    Drug  Class
0         O15379      d1      1
1         O15379      d2      1
2         O15379      d3      1
3         O15379      d4      1
4         O15379      d5      1
...          ...     ...    ...
40669     Q7Z4H4  d38714      1
40670     Q7Z4H4  d38715      1
40671     Q7Z4H4  d38716      1
40672     Q7Z4H4  d38717      1
40673     Q7Z4H4  d38718      1

[40674 rows x 3 columns]

In [4]:
data = pd.concat([pos, neg])
data = data.reset_index(drop=True)
data

      UniProt ID    Drug  Class
0         O15379      d1      1
1         O15379      d2      1
2         O15379      d3      1
3         O15379      d4      1
4         O15379      d5      1
...          ...     ...    ...
81343     Q9Y478  d35246      0
81344     Q9Y478  d35247      0
81345     Q9Y6E0  d31118      0
81346     Q9Y6E0  d31095      0
81347     Q9Y6E0  d31096      0

[81348 rows x 3 columns]

### Concat protein-senyawa
    List fitur protein : aaindex_nrlmf_bindingdb.csv
                         aac_bindingdb.csv
                         paac_bindingdb.csv
                         atc_bindingdb.csv
                         
    List fitur senyawa:  morgan_bindingdb.csv
                         maccs_nrlmf_bindingdb.csv
                         PubChem_bindingdb.csv
                         ecfp_bindingdb.csv

In [5]:
fasta = pd.read_csv('../../data/2-feature/prot/atc_bindingdb.csv') #ganti
fasta

,UniProt ID,0,1,2,3,4,5,6,7
0,O15379,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
1,P36894,0.266221,0.526452,0.072270,0.131164,0.003893,9573.0,8736.0,837.0
2,P20393,0.261121,0.522241,0.076514,0.137147,0.002978,10584.0,9661.0,923.0
3,P06213,0.267874,0.522500,0.073352,0.133300,0.002974,24776.0,22542.0,2234.0
4,P35354,0.272918,0.523070,0.071784,0.129786,0.002442,10997.0,9987.0,1010.0
...,...,...,...,...,...,...,...,...,...
131,Q01469,0.258907,0.529295,0.071655,0.135788,0.004355,2403.0,2204.0,199.0
132,O43194,0.269191,0.528510,0.072582,0.126698,0.003019,8247.0,7528.0,719.0
133,Q5NUL3,0.271637,0.535472,0.070221,0.120214,0.002456,6629.0,6067.0,562.0
134,Q9H093,0.263063,0.526383,0.076837,0.132174,0.001542,11164.0,10207.0,957.0
135,Q7Z4H4,0.255319,0.529675,0.086226,0.126166,0.002613,2562.0,2355.0,207.0

In [21]:
smiles = pd.read_csv('../../data/2-feature/mol/morgan_bindingdb.csv') #ganti
smiles

,Drug,0,1,2,3,4,5,6,7,8,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,d1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,d2,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,d3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,d4,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,d5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38713,d38714,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
38714,d38715,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
38715,d38716,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
38716,d38717,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
38717,d38718,0,1,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [22]:
df = pd.merge(data, fasta, on='UniProt ID', how='left')
df

,UniProt ID,Drug,Class,0,1,2,3,4,5,6,7
0,O15379,d1,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
1,O15379,d2,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
2,O15379,d3,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
3,O15379,d4,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
4,O15379,d5,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0
...,...,...,...,...,...,...,...,...,...,...,...
81343,Q9Y478,d35246,0,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,432.0
81344,Q9Y478,d35247,0,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,432.0
81345,Q9Y6E0,d31118,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0
81346,Q9Y6E0,d31095,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0
81347,Q9Y6E0,d31096,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0

In [23]:
df2 = pd.merge(df, smiles, on='Drug', how='left')
df2

,UniProt ID,Drug,Class,0_x,1_x,2_x,3_x,4_x,5_x,6_x,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,O15379,d1,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,...,0,0,0,0,0,0,0,0,0,0
1,O15379,d2,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,...,0,0,0,1,0,0,0,0,0,0
2,O15379,d3,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,...,0,0,0,0,0,0,0,0,0,0
3,O15379,d4,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,...,0,0,0,0,0,1,0,0,0,0
4,O15379,d5,1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81343,Q9Y478,d35246,0,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,...,0,0,0,0,0,1,0,0,0,0
81344,Q9Y478,d35247,0,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,...,0,0,0,0,0,1,0,0,0,0
81345,Q9Y6E0,d31118,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,...,0,0,0,0,0,1,0,0,0,0
81346,Q9Y6E0,d31095,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,...,0,0,0,0,0,1,0,0,0,0
81347,Q9Y6E0,d31096,0,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,...,0,0,0,0,0,1,0,0,0,0

In [24]:
df2 = df2.drop(columns=['UniProt ID', 'Drug'])
first_col = df2.pop('Class')
df2['Class'] = first_col
df2

,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,0_y,1_y,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,Class
0,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0,0,1,...,0,0,0,0,1,0,0,0,0,1
4,0.274581,0.515512,0.071929,0.135477,0.002502,7664.0,6912.0,752.0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81343,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,432.0,0,0,...,0,0,0,0,1,0,0,0,0,0
81344,0.268713,0.522376,0.073267,0.134059,0.001584,4841.0,4409.0,432.0,0,0,...,0,0,0,0,1,0,0,0,0,0
81345,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0,0,0,...,0,0,0,0,1,0,0,0,0,0
81346,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0,0,0,...,0,0,0,0,1,0,0,0,0,0
81347,0.264582,0.527473,0.071247,0.135370,0.001328,7907.0,7231.0,676.0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [25]:
df2.to_csv('../../data/4-modelling/1-datainput/atc-morgan_bindingdb.csv', index = False) #ganti